/* ------------------------------------------------------------------------
Colores
------------------------------------------------------------------------- */

$blanco: #FFF;
$text_color: #222F3E;

$gris1: #8395A7;
$gris2: #737373;
$gris3: #F4F5F7;
$gris4: #EEF2F6;

$lila:#6C5DD3;

$azul1: #354BD4;
$azul2: #2E86DE;

$verde: #10AC84;
$color_error: #EE5253;

$hover_nenu: #E9EFF5;


/* ------------------------------------------------------------------------
Type Styles
------------------------------------------------------------------------- */

$font_site: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin type-body {
	font-family: $font_site;
	line-height: 1.75em;
	color: $text_color;
}

@mixin type-default {
	font-weight: 300;
}

@mixin type-medium {
	font-weight: 400;
}

@mixin type-heavy {
	font-weight: 600;
}

@mixin type-heading {
	font-family: $font_site;
	@include type-heavy;
	line-height: 1.25em;
}


/* ------------------------------------------------------------------------
vertical-space
------------------------------------------------------------------------- */

$vertical-space: 0.6em;
$vertical-space-small: $vertical-space/2;
$vertical-space-large: $vertical-space*2;
$vertical-space-xl: $vertical-space*4;


/* ------------------------------------------------------------------------
display_flex
------------------------------------------------------------------------- */
@mixin transition {
	transition:0.2s ease all;
}


/* ------------------------------------------------------------------------
display_flex
------------------------------------------------------------------------- */
@mixin display_flex {
	display: flex;
}


/* ------------------------------------------------------------------------
border-radius
------------------------------------------------------------------------- */
@mixin border_radius1 {
	border-radius: 10px;
}

@mixin border_radius2 {
	border-radius: 4px;
}

@mixin border_radius3 {
	border-radius: 22px;
}

@mixin border_radius4 {
	border-radius: 12px;
}


/* ------------------------------------------------------------------------
links
------------------------------------------------------------------------- */
a {
	color: $lila;
	text-decoration: none;
	@include transition;

	&:hover, &:focus {
		color: lighten($lila,10%);
	}

	&:active {
		color: darken($lila,10%);
	}
}