.toggle-password {
	position: absolute;
	top: 16px;
	right: 8px;
}

.toggle-password img {
  display: none;
  width: 22px;
}

.toggle-password img:first-child {
  display: block;
}

.toggle-password.eye_view img:first-child {
  display: none;
}

.toggle-password.eye_view img:last-child {
  display: block;
}