/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
a:focus {
  outline: thin dotted;
}

/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  text-decoration: none;
}

mark {
  font-style: italic;
  font-weight: bold;
}

/*
 * Redeclare monospace font family: h5bp.com/j
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'Menlo', 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improve readability of pre-formatted text
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

/*
 * Position subscript and superscript content without affecting line-height: h5bp.com/k
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol,
dd {
  margin: 0;
  padding: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Indicate that 'label' will shift focus to the associated form element
 */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
	 * Don't show links for images, or javascript/internal links
	 */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ------------------------------------------------------------------------
Colores
------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------
Type Styles
------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------
vertical-space
------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------
display_flex
------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------
display_flex
------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------
border-radius
------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------
links
------------------------------------------------------------------------- */
a {
  color: #6C5DD3;
  text-decoration: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

a:hover, a:focus {
  color: #9085de;
}

a:active {
  color: #4836c7;
}

.col_1 {
  width: 8.333%;
}

.col_2 {
  width: 16.666%;
}

.col_2a {
  width: 20%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.333%;
}

.col_5 {
  width: 41.666%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.333%;
}

.col_8 {
  width: 66.666%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.333%;
}

.col_11 {
  width: 91.666%;
}

.col_12 {
  width: 100%;
}

[class^=col] {
  float: left;
  height: auto;
  padding: 6px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all {
  display: block;
  float: left;
  width: 100%;
}

html {
  background: #FFF;
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.75em;
  color: #222F3E;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6, dt {
  width: 100%;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.25em;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

html,
button,
input,
select,
textarea {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.75em;
  color: #222F3E;
}

.error {
  border: 1px solid #EE5253 !important;
}

button {
  border: 0;
  background: none;
  border-radius: 10px;
}

.full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  max-height: 768px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text_ali_rig {
  text-align: right;
}

.text_ali_cen {
  text-align: center;
}

.back_blanco {
  background-color: #FFF;
  border-radius: 12px;
}

.margin30 {
  margin: 30px;
}

.margin30_Up {
  margin: 30px 0;
}

.home article {
  width: 55%;
}

.home article.right {
  padding: 0 104px;
  width: 45%;
}

.home article .botones {
  padding-top: 30px;
}

.home article .botones button {
  padding: 6px 0;
  width: 33.3333%;
}

.home article .botones button img {
  height: 18px;
}

.fb {
  background-color: #3853A1;
}

.go {
  margin: 0 20px;
  border: 1px solid #C8D6E5;
}

.li {
  background-color: #0077B7;
}

.home article button[type=submit] {
  width: auto;
  margin: 30px 0 70px 0;
  padding: 10px 60px;
  font-size: 0.8em;
  color: #FFF;
  background-color: #354BD4;
  border-radius: 22px;
}

.input_animate .form-group {
  position: relative;
  margin: 30px 0;
}

.input_animate .form-group input {
  display: block;
  padding: 10px 14px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #8395A7;
  border-radius: 4px;
}

.input_animate .form-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #737373;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input_animate .form-group input:focus ~ label, .input_animate .form-group input:valid ~ label, .input_animate .form-group input.error ~ label {
  top: -14px;
  padding: 0 5px;
  font-size: 12px;
  color: #8395A7;
  background-color: #FFF;
}

.toggle-password {
  position: absolute;
  top: 16px;
  right: 8px;
}

.toggle-password img {
  display: none;
  width: 22px;
}

.toggle-password img:first-child {
  display: block;
}

.toggle-password.eye_view img:first-child {
  display: none;
}

.toggle-password.eye_view img:last-child {
  display: block;
}

label.error, .owl-nav, .visually-hidden {
  display: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 40px;
}

.owl-theme .owl-dots .owl-dot span {
  background: #FFF;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #FBB864;
}

@media all and (max-width: 990px) {
  .home article.right {
    padding: 0 80px;
  }
  .home article button[type=submit] {
    margin: 30px 0;
  }
}

@media all and (max-width: 870px) {
  .home article.right {
    padding: 0 40px;
  }
  .home article button[type=submit] {
    margin: 15px 0;
  }
}

@media all and (max-width: 768px) {
  .wrap {
    display: block;
  }
  .home article {
    width: 100% !important;
  }
  .home article.right {
    padding: 40px 60px;
  }
  .home article.right .text_ali_rig {
    text-align: center;
  }
}

@media all and (max-width: 420px) {
  .home article.right {
    padding: 30px 20px;
  }
}

.flexbox-container-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox-container-dashboard > section {
  width: 100%;
  height: 100vh;
}

.flexbox-container-dashboard > section:first-child {
  padding: 16px 18px;
}

.flexbox-container-dashboard > section:first-child header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-box {
  position: relative;
  margin-right: 20px;
  padding: 0;
  width: 20px;
  height: 16px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  top: -7px;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #222F3E;
}

.hamburger-inner:before, .hamburger-inner:after {
  display: block;
  content: "";
  top: 10px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.hamburger-inner:before, .hamburger-inner:after {
  right: 0;
}

.hamburger-inner:before {
  width: 14px;
}

.hamburger-inner:after {
  width: 12px;
}

.hamburger-inner:after {
  top: 20px;
  bottom: -10px;
}

.hamburger-box.active .hamburger-inner:before, .hamburger-box.active .hamburger-inner:after {
  right: inherit;
}

#sidebar {
  width: 265px;
  /*    transition:0.1s ease all;*/
}

#sidebar.active {
  width: 86px;
}

#sidebar.active header span img {
  -webkit-clip-path: inset(0 90px 0 0);
          clip-path: inset(0 90px 0 0);
}

#sidebar nav {
  margin-top: 45px;
}

#sidebar nav ul li {
  display: -ms-grid;
  display: grid;
  margin-bottom: 5px;
}

#sidebar a {
  padding: 13px 14px;
  font-size: 0.78em;
  color: #222F3E;
  vertical-align: middle;
  border-radius: 12px;
}

#sidebar a svg, #sidebar a span {
  vertical-align: middle;
}

#sidebar a span {
  padding-left: 8px;
  overflow: hidden;
  -webkit-transition: -webkit-clip-path 0.2s;
  transition: -webkit-clip-path 0.2s;
  transition: clip-path 0.2s;
  transition: clip-path 0.2s, -webkit-clip-path 0.2s;
}

#sidebar.active a span {
  display: none;
  width: 0;
}

#sidebar a img svg {
  width: 19px;
}

#sidebar a path {
  fill: #8395A7 !important;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#sidebar a:hover {
  color: #FFF;
  background-color: #6C5DD3;
}

#sidebar a:hover path {
  fill: #FFF !important;
}

#sidebar.active a {
  width: 50px;
}

.flexbox-container-dashboard > section:last-child header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60px;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.flexbox-container-dashboard > section:last-child article {
  padding: 60px;
  height: calc(100vh - 60px);
  background-color: #F4F5F7;
  overflow: auto;
}

form[name=form_buscar] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 370px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form[name=form_buscar] input {
  padding: 5px 0 0 15px;
  border: none;
}

.autocomplete-items {
  position: absolute;
  z-index: 100;
  padding: 3px 5px;
  background-color: #FFF;
}

.autocomplete-items div {
  padding: 4px 6px;
}

.autocomplete-items div.autocomplete-active {
  background-color: #F4F5F7;
}

.menu_dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu_dashboard > .material-icons-outlined {
  margin: 0 12px;
}

.menu_dashboard > button.user {
  position: relative;
  margin: 0 34px;
  padding-right: 14px;
}

.menu_dashboard > button.user div {
  position: absolute;
  top: 5px;
  right: 0;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.menu_dashboard > button.user.active div {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mdl-list__item {
  font-size: 0.9em;
}

.mdl-menu__container.is-visible .mdl-menu__outline {
  border-radius: 0 0 10px 10px;
}

.menu_dashboard i, .menu_dashboard .mdl-badge {
  color: #8395A7;
}

.menu_dashboard .doble div {
  display: b;
  float: left;
  width: 50%;
}

.mdl-badge[data-badge]:after {
  top: -2px;
}

.mdl-badge[data-badge].badge_verde:after {
  background: #10AC84;
}

.mdl-badge[data-badge].badge_azul:after {
  background: #2E86DE;
}

.menu_dashboard .ico_bg h3 {
  padding: 22px;
  color: #2E86DE;
}

.menu_dashboard .ico_bg li:hover {
  background-color: #E9EFF5;
}

.menu_dashboard .ico_bg .mdl-list__item {
  padding: 0;
  width: 300px;
}

.menu_dashboard .ico_bg li, .menu_dashboard .user li.exit {
  border-top: 1px solid #F4F5F7;
}

.menu_dashboard .ico_bg li i {
  padding: 22px;
  font-size: 36px;
}

.menu_dashboard .ico_bg li:hover i {
  color: #6C5DD3;
}

.menu_dashboard .user .mdl-list__item {
  width: 200px;
}

.mdl-list__item-primary-content strong {
  color: #222F3E;
}

.menu_dashboard .user li i {
  padding-right: 10px;
}

.menu_dashboard .user li a {
  color: #8395A7;
}

.menu_dashboard .user li:hover i, .menu_dashboard .user li:hover a {
  color: #2E86DE;
}

.dash {
  display: block;
}

.dash h3 {
  font-size: 1.7em;
}

.dash h4 {
  font-size: 3.2em;
}

.dash [class^=col] div {
  float: left;
}

.dash .fecha > div:first-child {
  margin-right: 10px;
  padding-top: 10px;
  width: 54px;
  height: 54px;
  background: url(../img/calendar.png) center center no-repeat;
}

.dash .fecha > div:first-child strong {
  display: block;
  margin-bottom: -42px;
  font-size: 1.2em;
}

.dash .fecha > div:last-child strong {
  display: block;
  margin: 8px 0 -33px 0;
  color: #EE5253;
}

.dash .grilla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash .grilla h5 {
  font-size: 3em;
}

.dash .grilla .col_4 {
  border-left: 1px solid #F4F5F7;
}
/*# sourceMappingURL=style.css.map */