@import	"reset", "_general", "_grid";

html {
	background: $blanco;
}

body {
	margin: 0;
	@include type-body;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6, dt {
    width: 100%;
	@include type-heading;
	margin: 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 {
    font-size: 1.25em;
    @include type-medium;
}

html,
button,
input,
select,
textarea {
	@include type-body;
}

.error{
    border: 1px solid $color_error !important;
}

button{
    border: 0;
    background: none;
    @include border_radius1;
}


.full{
	@include display_flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.wrap{
    margin: 0 auto;
	@include display_flex;
    width: 100%;
    max-width: 1366px;
    height: 100%;
    max-height: 768px;
    align-items: center;
}

.flex{
	@include display_flex;
}

.text_ali_rig{
    text-align: right;
}
.text_ali_cen{
    text-align: center;
}

.back_blanco{
    background-color: $blanco;
    @include border_radius4;
}

.margin30{
    margin: 30px;
}
.margin30_Up{
    margin: 30px 0;
}


@import	"_home";


.flexbox-container-dashboard {
	@include display_flex;
}

.flexbox-container-dashboard > section {
    width: 100%;
    height: 100vh;
}

.flexbox-container-dashboard > section:first-child {
    padding: 16px 18px;
}
.flexbox-container-dashboard > section:first-child header{
	@include display_flex;
    align-items: center;
}


@import	"_hamburger", "_sidebar";


.flexbox-container-dashboard > section:last-child header{
	@include display_flex;
    flex-wrap: wrap;
    height: 60px;
    padding: 0 30px;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.flexbox-container-dashboard > section:last-child article{
    padding: 60px;
    height: calc(100vh - 60px);
    background-color: $gris3;
    overflow: auto;
}



form[name=form_buscar]{
    @include display_flex;
    width: calc(100% - 370px);;
    align-items: center;
}

form[name=form_buscar] input{
    padding: 5px 0 0 15px;
    border: none;
}

.autocomplete-items{
    position: absolute;
    z-index: 100;
    padding: 3px 5px;
    background-color: $blanco;
}
.autocomplete-items div{
    padding: 4px 6px;
}
.autocomplete-items div.autocomplete-active{
    background-color: $gris3;
}


@import	"_menu_dashboard";


.dash{
    display: block;
}

.dash h3 {
    font-size: 1.7em;
}
.dash h4 {
    font-size: 3.2em;
}

.dash [class^=col] div{
    float: left;
}

.dash .fecha > div:first-child{
    margin-right: 10px;
    padding-top: 10px;
    width: 54px;
    height: 54px;
    background: url(../img/calendar.png) center center no-repeat;

}
.dash .fecha > div:first-child strong{
    display: block;
    margin-bottom: -42px;
    font-size: 1.2em;
}
.dash .fecha > div:last-child strong{
    display: block;
    margin: 8px 0 -33px 0;
    color: $color_error;
}

.dash .grilla{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dash .grilla h5{
    font-size: 3em;
}
.dash .grilla .col_4{
    border-left: 1px solid $gris3;
}
